.form {
    display: flex;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.container {
    max-width: 700px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.icone {
    margin: 5px 5px 5px;
}